/*.container{*/
    /*background-color: ghostwhite;*/
    /*border: 2px solid black;*/
/*}*/

.position{
    text-align: center;
}

.width_search{
    width: 95%;
    height: 40px;
}

td,th {
    vertical-align: middle !important;
    text-align: center !important;
}

td:first-of-type, td:first-of-type > div {
    height: 150px;
    width: 200px;
}

.input-group {
    margin: 20px 10px;
}

svg {
    height: 150px;
}